<!-- web_app/templates/admin_panel.html -->

{% extends "bootstrap_layout.html" %}
{% set active_page = "admin_panel" %}

{% block content %}
    <h2>Admin Panel</h2>
    <hr>
    <!-- List all current users -->
    <p>Users in the database:</p>
    {% if users %}
        <table>
            <tr>
                <th>User</th>
                <th>Screen Name</th>
                <th>Followers</th>
                <th>Tweets in DB</th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>@{{user.screen_name}}</td>
                <td>{{user.followers_count}}</td>
                <td>{{user.tweet_count}}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No users found.</p>
    {% endif %}

{% endblock %}